<%= form_with(model: auth, local: true, url: "/auths") do |form| %>
  <div class="actions">
  <%= label_tag(:name, "Author Name:") %>
  <%= form.text_field :name %>
  <%= submit_tag("Sign In") %>
  </div>
<% end %>
