/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 .body{
  background-color: rgb(31, 83, 136);
  font-family: "Arial", Times, serif;
  min-height: 100vh;
 }

 .container-100vh{
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
 }

 .text-custom{
   color: rgb(31, 83, 136);
 }

 .border-custom{
  border:1px solid white;
 }

 .border-custom-2{
  border:3px solid white;
 }

 .bg-success-custom{
   background-color: rgb(96, 182, 37);
 }

 .bg-custom{
   background-color: rgb(31, 83, 136);
 }

 .bg-nav{
   background-color: rgb(51, 111, 178);
 }

 .notice{
   color:red;
   font-style: italic;
   font-size: small;
 }

 .custom-circle{
   width:200px;
   height: 200px;
   border-radius: 200px;
   margin:auto;
 }

 .svg_holder{
  border:1px solid white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  padding:7px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .link_holder{
   border-bottom: 1px solid white;
   width:100%;
   display: flex;
   align-items: center;
 }